service cloud.firestore {
  match /databases/{database}/documents {
    match /appointments/{appointment} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth.token.isAdmin == true ||
        request.auth.uid == resource.data.doctor_id;
      allow delete: if request.auth.token.isAdmin == true;
    }
  }
}